body {
	padding-top: 100px;
	padding-bottom: 120px;
}

.navbar {
	background-color: aqua;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.footer {
	background-color: aqua;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.catslist ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.catslist li {
	width: 200px;
	padding: 5px;
	margin: 5px;
	background-color: rgb(161, 247, 218);
	border-radius: 5px;
}

.cat img {
	width: 200px;
	height: 200px;
}
